[user]
	email = alimam01828@gmail.com
	name = al-imam

[core]
	editor = code --wait
	eol = lf
	autocrlf = false
	whitespace = cr-at-eol
	symlinks = true

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[push]
	autoSetupRemote = true

[alias]
	logs = log --color --graph --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %s %Cgreen(%cr) %C(yellow)%d%Creset' --abbrev-commit
	logs-long = log-short --stat
	s = status -sb
	b = branch
	a = add
	aa = add --all
