[user]
	email = alimam01828@gmail.com
	name = al-imam

[core]
	editor = \"C:\\Users\\al_imam\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = false
	whitespace = cr-at-eol
	symlinks = true

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[push]
	autoSetupRemote = true